@model Tarefas.ViewModel.IndexTerafaViewModel


@{
    ViewData["Title"] = "Lista de tarefas";
}

<h1>@ViewData["Title"]</h1>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Tarefas.FirstOrDefault().Descricao)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Tarefas.FirstOrDefault().Prazo)</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Tarefas.Count == 0)
        {
            <tr><td colspan="4" class="text-center">Nenhuma tarefa inserida ainda.</td></tr>
        }
        else
        {
            foreach (var tarefa in Model.Tarefas)
            {
                <tr>
                    <td>@tarefa.Id</td>
                    <td>@tarefa.Descricao</td>
                    <td>@tarefa.Prazo</td>
                    <td><a asp-area="" asp-controller="Home" asp-action="Deletar" asp-route-id="@tarefa.Id">Deletar</a></td>
                </tr>
            }
        }

    </tbody>
</table>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
    Nova tarefa
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" asp-action="Criar">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Criando tarefa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Tarefa.Descricao" class="control-label"></label>
                        <input asp-for="Tarefa.Descricao" class="form-control" />
                        <span asp-validation-for="Tarefa.Descricao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tarefa.Prazo" class="control-label"></label>
                        <input asp-for="Tarefa.Prazo" class="form-control" />
                        <span asp-validation-for="Tarefa.Prazo" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); } }